* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: fixed;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: inline-flex;
    align-items: center;
}

.header .logo img {
    height: 50px;
    padding-left: 10px;
}

.header .menus {
    list-style: none;
    display: inline-flex;
}

.header .menus li{
    display: inline-block;
    text-decoration: underline;
    padding: 0 10px;
}

.introduction {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*zlge4a*_ga*NzcwNjA2NjQ2MS4xNjU2Mzg0MzUy*_ga_3LRZM6TM9L*MTY1ODQwNDQ4NC4xNy4xLjE2NTg0MDQ0OTQuNTA.");
}

.introduction .description {
    width: 100%;
    opacity: 1;
}

.tea-content {
    width: 1000px;
    margin: 0 auto;
}

.tea-content .tea-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-content .tea-container .card {
    margin-left: 10px;
    margin-right: 10px;
}

.tea-content .tea-container .card img {
    height: 200px;
    width: 300px;
}

.locations-content {
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*6jcgjm*_ga*NzcwNjA2NjQ2MS4xNjU2Mzg0MzUy*_ga_3LRZM6TM9L*MTY1ODU3OTQ0MS4xOS4xLjE2NTg1ODA5NTIuNTc.");
}